/* Selector universal*/

* {
    margin: auto;
    /*  color: rgb(36, 160, 40);
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;*/
}

.titulo-contenedor {

  

    border: 1px solid #000;
    width: 450px;
    height: 70px;
    padding: 20px 50px 20px 50px;
    margin: 50px 20px 50px 20px;
    border-radius: 5%;
    box-shadow: rgba(rgb(0, 0, 0), rgb(0, 255, 0), blue, alpha);
}